h1 {
	font-family: "Verdana";
}

.card {
	width: 130px;
	height: 195px;
	display: inline-block;
	border: 8px solid black;
	margin-bottom: 5px;
}

.add_todo{
  background: black;
  color:white;
  font-size:20px;
  border:none;
  padding:8px 20px;
  letter-spacing:2px;
  border-radius:4px;
  margin-top: 40px;
}

#congrats {
	position: absolute;
	color: red;
	font-weight: bolder;
	font-size: 300%;
	right: 30px;
	top: 35px;
}